---
version: "3"

networks:
  piwigo-network:
    name: album-network
    external: false

services:

  piwigo-main:
    image: piwigo/piwigo:latest
    restart: always
    environment:
      - TZ=${timezone}/
    networks:
      - piwigo-network
    ports:
      - ${piwigo_port}:80
    depends_on:
      - piwigo-db
    volumes:
      - ./piwigo-data/piwigo:/var/www/html/piwigo/
      - ./piwigo-data/scripts:/usr/local/bin/scripts/
      - ${albumfiles}:/var/www/html/piwigo/galleries/Family

  piwigo-db:
    image: docker.io/library/mariadb:lts
    restart: always
    environment:
      - MARIADB_RANDOM_ROOT_PASSWORD=true
      - MARIADB_USER=piwigodb_user
      - MARIADB_DATABASE=piwigodb
      # Defined in .env
      - MARIADB_PASSWORD=${db_user_password}
      - TZ=${timezone}
    networks:
      - piwigo-network
    volumes:
      - ./piwigo-data/mysql:/var/lib/mysql

  # The Cloudflare Tunnel service
  cloudflared-tunnel:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared-tunnel
    restart: unless-stopped
    environment:
      # Use an environment file (.env) for the token
      - TUNNEL_TOKEN=${CLOUDFLARE_TUNNEL_TOKEN}
    command: tunnel run
    # Ensure both services are in the same network for communication
    networks:
      - piwigo-network