---
version: "3"

networks:
  piwigo-network:
    name: album-network
    external: false

services:

  piwigo-main:
    image: piwigo/piwigo:latest
    restart: always
    environment:
      - TZ=${timezone}/
    networks:
      - piwigo-network
    ports:
      - "80"
      #- "${piwigo_port}:80"
    depends_on:
      - piwigo-db
    volumes:
      - ./piwigo-data2/piwigo:/var/www/html/piwigo/
      - ./piwigo-data2/scripts:/usr/local/bin/scripts/
      - ${albumfiles}:/var/www/html/piwigo/galleries/Family

  piwigo-db:
    #image: docker.io/library/mysql:lts
    image: mysql:8.0.41
    restart: always
    environment:
      - MYSQL_RANDOM_ROOT_PASSWORD=true
      - MYSQL_USER=piwigodb_user
      - MYSQL_DATABASE=piwigodb
      # Defined in .env
      - MYSQL_PASSWORD=${db_user_password}
      - TZ=${timezone}
    networks:
      - piwigo-network
    # ports:
    #   - "3306:3306"
    volumes:
      - ./piwigo2-data/mysql:/var/lib/mysql

  nginx:
    image: nginx:latest
    container_name: nginx
    environment:
      - TEST=ok
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./piwigo-data/certbot/conf:/etc/letsencrypt
      - ./piwigo-data/certbot/www:/var/www/certbot
    networks:
      - piwigo-network
    ports:
      #- 443:443
      - 8090:8090
    restart: unless-stopped

  certbot:
      image: certbot/dns-route53
      environment:
        - AWS_ACCESS_KEY_ID=${certbot_AWS_ACCESS_KEY_ID}
        - AWS_SECRET_ACCESS_KEY=${certbot_AWS_SECRET_ACCESS_KEY}
      volumes:
        - ./piwigo-data/certbot/conf:/etc/letsencrypt
        - ./piwigo-data/certbot/www:/var/www/certbot
      entrypoint: sh -c 'trap exit TERM; while :; do certbot renew --dns-route53; sleep 12h & wait $${!}; done;'
      restart: unless-stopped
